


.read-the-docs {
    color: #000000;
  }
  
  .App {
    width: 100vw
  }
  
  .App-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #000000;
  }
  
  .App-header h1 {
    font-size: 2em;
    color: black
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  div {
    /* margin: 10px 0; */
  }
  
  label {
    margin-right: 10px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #000000;
  }
  
  button {
    padding: 10px 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #21a1f1;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .container {
    width: 95vw;
    margin: 0 auto;
    /* width: 80%; */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
  header {
    text-align: center;
  }
  
  header h1 {
    font-size: 2em;
    color: #000000;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #f4f4f4;
    color: #333;
  }
  
  table tr:hover {
    background-color: #f1f1f1;
  }
  
  .paciente-detalhes {
    text-align: center;
    margin-top: 20px;
  }
  
  .paciente-detalhes h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .paciente-detalhes div {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    color: black;
  }
  
  .paciente-detalhes div p {
    margin: 10px 0;
    color: black;
  }
  
  p {
    color: black;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #e0e0e0;
  }
  
  .container {
    
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header {
    text-align: center;
  }
  
  header h1 {
    font-size: 2em;
    color: black;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #555;
    color: black;
  }
  
  table th {
    background-color: white;
    color: black;
  }
  
  table tbody tr:nth-child(odd) {
    background-color: white;
  }
  
  table tbody tr:nth-child(even) {
    background-color: white;
  }
  
  table tbody tr:hover {
    background-color: white;
  }
  
  .header {
    display: flex;
    align-items: center;
  }
  
  .link-voltar {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-right: 10px; /* espaçamento entre o ícone e o texto */
    font-size: 24px;
  }
  
  .titulo {
    margin-left: 10px; /* espaçamento entre o título e o botão */
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: large;
    background-color: white;

}

/* style.css */
.claro {
    background-color: #f9f9f9; /* Cor clara */
  }
  
  .escuro {
    background-color: #cecece; /* Cor escura */
  }
  

a {
    text-decoration: none;
    color: black;
    font-weight: 900;

}

a:hover {
    color: #12708a;
}


button {
    padding: 10px 20px;
    background-color: #0d6b85;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 50px;
  }
  
  button:hover {
    background-color: #21a1f1;
}

input {
    width: 100%;
    padding: 10px;
}